.main {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  width: 70vw;
  height: 70vh;
  padding: 0.5rem;
  color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.slack-invite {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h4 {
    
  }
}

.slack-input {
  width: 50%;
  height: 10%;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.btn {
  height: 5rem;
  width: 10rem;

  font-size: 2rem;
}
