<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <div style="text-align:center">
    <img width="300" src="https://res.cloudinary.com/proton/image/upload/v1516492134/python-nigeria_ittomi.svg">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
  <form class='slack-invite'>
    <h3> Enter your email below to join Python Nigeria on Slack! </h3>
    <input type="email" name="email" class="form-control slack-input" id="exampleInputEmail1" placeholder="Enter email Address"
      [(ngModel)]="email">
    <br />
    <button type="button" class="btn btn-primary btn-lg" (click)="sendInvite()" required>Join Us!</button>
  </form>
</div>
